<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938084059168-qunk09enbp6qdrmt4cvuhd90jk9k7vi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938084059168-qunk09enbp6qdrmt4cvuhd90jk9k7vi2</string>
	<key>API_KEY</key>
	<string>AIzaSyADgNXZ9DxBUU3MFI-7DSYtMjAlRaQGoyM</string>
	<key>GCM_SENDER_ID</key>
	<string>938084059168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadchill.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-aa14b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-aa14b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938084059168:ios:c4d680bfb129d9c3335445</string>
</dict>
</plist>